@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;

}
.account_nav{
    border: 2px solid #E75C6B;
    border-radius: 50px;
    height: fit-content;
    /* width: 600px; */
}
.account_nav .nav{
    font-size: 22px;
}

.profile{
    display: flex;
    padding: 20px;
}
.profile-right{
    margin-left: 10px;
    display: inline-block;
}
.profile img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
i{
    color: #E75C6B;
}




/* Vouchers */
.vouchers{
    width: 100%;
    padding: 0 20px;
}
.vouchers .title{
    display: flex;
    justify-content: space-around;
}
.background-voucher{
    background-color: #f0b8be;
    border: 2px solid rgb(249, 247, 247);
    margin: 20px;
}
.vouchers .title input{
    width: 300px;
    height: 57px;
    padding: 0 60px 0 20px;
    border-radius: 10px;
    border: none;
    background-color: #f1b9b9;
}
.voucher{
    display: inline-flex;
    border: 2px solid rgb(248, 247, 247);
    margin: 40px;
    background-color: white;
}
.voucher .logo{
    margin: auto;
    border-right: 2px dashed rgb(126, 121, 121);
    padding: 43px 10px;
}
.discount{
    margin-left: 10px;
    padding: 10px;
}
.discount input{
    background-color:#E75C6B   ;
    color: white;
    border: 1px solid black;
    border-radius: 10px;  
}
hr{
    margin: 10px 0;  
}
.btn-input{
    text-align: right;
}
.voucher .logo img{
    width: 140px;
}

.list-voucher{
    display: flex;
    flex-wrap: wrap;
}
.content{
    padding-left: 50px;
    position: relative;
    width: 700px;
    height: 80vh;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif
}
.row{
    display: flex;
    padding: 20px;
    align-items: center;
}
.change-password h2{
    font-weight: 300px;
}
.row input{
    background-color: #eee;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    margin: 10px 0;
    width: 300px;
    height: 40px;
    font-size: 14px;
}
.content .text{
    color: #E75C6B;
}
.content button{
    border-radius: 20px;
    background-color: #E75C6B;
    color: #fff;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;
    transition: 0.4s;
    text-decoration: none;
    float: right;
}
.content button:hover {
    background: #81C6E8;
    color: #000;
}