*{
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    margin-top: 20px;
}


.account_nav{
    border: 2px solid #E75C6B;
    border-radius: 50px;
    height: fit-content;
    width: 570px;
}
.account_nav .nav{
    font-size: 22px;
}
.account_nav .nav #sub_nav{
    display: none;
}

.profile{
    display: flex;
    padding: 20px;
}
.profile-right{
    margin-left: 10px;
    display: inline-block;
}
.profile img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
i{
    color: #E75C6B;
}

.right{
    width: 100%;
    padding: 0 20px;
    height: 150vh;
}

.account_nav .nav #sub_nav.activate{
    display: block
}
