*{
    padding: 0;
    margin: 0;
}
html{
    font-family: Montserrat;
}
/* banner */
.banner{
    width: 100%;
    /* height: 100%;
    display: inline-block; */
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.readnow{
    position: absolute;
    top:305px;
    left: 200px;
    border: none;
    border-radius: 20px;
    padding: 5px 50px;
    background-color: var(--primary_color);
    color: white;
    font-weight: bold;

}
/*main*/
.blogs{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
/* baivietnoibat */
.baivietnoibat{
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
}
.baivietnoibat h2{
    font-size: 30px;
    /* margin-left: 18px; */
}
hr{
    width: 440px;
    border: solid #C4C4C4; 
    margin-bottom: 30px;
    margin-top: 15px;
}
.baiviet-item{
    margin-bottom: 15px ;
    /* margin-left: 18px; */
    display: flex;
}
.baiviet-img img{
    width: 120px;
    height: 100px;
}
.baiviet-mota{
    float: right;
    margin-left: 10px;
    margin-top: -5px;
    font-size: 12px;

}
.baiviet-tieude a{
    text-decoration: none;
    color: #EB7884;
    font-size: 18px;
    justify-content: center;

}
/* .baiviet-ngaydang{
    margin: 4px 0px 4px 30px;
}
.baiviet-tacgia{
    margin-left: 30px;
} */
/* tintuc */
.tintuc h1{
    font-size: 45px;
}
.tintuc-item{
    margin: 20px 0px;
    display: flex;
}
.tintuc-img img{
    width: 140px;
    height: 140px;
}
.tintuc-mota{
    margin-left: 10px;
    margin-top: -5px;
}
.tintuc-tieude a{
    text-decoration: none;
    color: #EB7884;
    font-size: 25px;
}
.tintuc-nguoiviet{
    font-size: 12px;
}
.tintuc-mieuta{
    margin-top: 7px;
    font-size: 15px;
    text-align: justify;
}
.tintuc{
    flex-basis: 900px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.sotrang{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.sotrang a{
    text-decoration: none;
    font-size: 15px;
    margin: 0px 20px;
}