@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Inter:400,800');
:root {
    --primary_color: #E75C6B;
    --color_button: #F38A95;
    --background-color: #F9F2F2;
    --button: #F38A95;
    --button_hover: #81C6E8;
}
*{
    padding: 0;
    margin: 0;
}
.body{
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    
}
.body-left{
    width: 618px;
    padding: 0 20px
}
.body-right{
    margin-left: 50px;
}
h2{
    color: #E75C6B;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: bold;
}
.form{
    padding-top: 40px;
    background-color: #FFEAE9;
    width: 771px;
    height: 572px;
    /* text-align: center; */
    border-radius: 25px;
}
.form__row{
    padding-top:  12px ;
    padding-bottom: 15px;
    display: block;
    align-items: center;
}

.form__label{
    /* float: left; */
    /* max-width: 500px; */
    text-align: left    ;
    color: #E75C6B;
    font-weight: bold;
    padding-left: 100px;
}
.form__input{
    text-align: left;
    width: 500px;
    height: 54px;
    border-radius: 25px;
    border-bottom: solid rgb(227, 224, 221) 5px;
    border-top: solid #FFFF 5px;
    border-left: solid #FFFF 5px;;
    border-right:solid #FFFF 5px;;
}
.form_input{
    padding-left: 100px;
}
#message{
    height: 111px;
    width: 570px;
}
.Button{
    padding-top: 20px;
}
#submit{
    justify-self: center;
    background-color: #E75C6B;
    text-decoration-color: white;
    border-radius: 8px ;
    color: black;
    width: 150px;
    height: 40px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s ; 
}
#submit:hover{
    background-color: #FFFF;
}


.body-left i {
    color: var(--primary_color);
    margin-top: 20px;
}

.company {
    display: flex;
}

.submit {
    background-color: var(--primary_color);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    vertical-align: middle;
    margin: 15px;
    font-size: 22px;
    width: 20%;
}

.submit:hover {
    background-color: var(--button_hover);
    color: black;
}
