
:root {
    --primary_color: #E75C6B;
    --sub_color: #FFEAE9;
    --hover:#6c584c;
    --button: #F38A95;
}

.main-sub {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: 1000px;
}

.line {
    background-color: var(--primary_color);
    height: 1px;
    margin: 5px 0 5px 0;
}

.name {
    font-weight: bold;
    color: black;
}
.info {
    color: gray;
}
.def {
    border: 1px solid var(--primary_color);
    color: var(--primary_color);
    width: 80px;
    margin-top: 10px;
    text-align: center;
}

.button a {
    color: var(--primary_color);
    text-decoration: none;
}
.button a:hover {
    text-decoration: underline;
}

.list {
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.5fr;
}

input[type=radio] {
    cursor: pointer;
}

#default1, #info2 {
    accent-color: var(--primary_color)
}

/* .add_button {
    border: 1px solid var(--primary_color);
    border-radius: 20px;
    width: 26%;
} */
.add {
    display: flex;
    border: 1px solid var(--primary_color);
    border-radius: 20px;
    background-color: var(--sub_color);
    width: 200px;
    padding: 5px;
    margin-top: 10px;
}
.add img {
    width: 18px;
    height: 18px;
}

.add button {
    border: none;
    background: none;
    cursor: pointer;
    width: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.add button:hover {
    background: fixed;
}
.input {
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.back {
    width: 90px;
    background-color: var(--sub_color);
}

.confirm {
    width: 100px;
    background-color: var(--primary_color);
    color: white;
    
}
    
.button {
    text-align: right;
}

.button a {
    text-decoration: none;
}

/* Modal */
.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: linear 0.1s;
    display: none;
    
}
.modal.open{
    display: flex;
}
/*Lớp phủ đen đen */
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal__body{
    width: 50%;
    height: auto;
    background-color: white;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear 0.1s;
    --growth-from:0.7s;
    --growth-to:1;
    margin: auto;
    padding: auto;
    /* display: none; */

}
.modal__inner{
    margin: 20px;
    
}
.activate{
    display: block;
}

/* Modal 2 */
/* Modal */
.modal2{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: linear 0.1s;
    display: none;
    
}
.modal2.open{
    display: flex;
}
/*Lớp phủ đen đen */
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal__body{
    width: 50%;
    height: auto;
    background-color: white;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear 0.1s;
    --growth-from:0.7s;
    --growth-to:1;
    margin: auto;
    padding: auto;
    /* display: none; */

}
.modal__inner{
    margin: 20px;
    
}
.activate{
    display: block;
}

/* Modal 3 */
/* Modal */
.modal3{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: linear 0.1s;
    display: none;
    
}
.modal3.open{
    display: flex;
}
/*Lớp phủ đen đen */
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal__body{
    width: 50%;
    height: auto;
    background-color: white;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear 0.1s;
    --growth-from:0.7s;
    --growth-to:1;
    margin: auto;
    padding: auto;
    /* display: none; */

}
.modal__inner{
    margin: 20px;
    
}
.activate{
    display: block;
}
.main-title {
    width: 100%;
    font-size: 30px;
    color: var(--primary_color);
    font-weight: bold;
}