
:root {
    --primary_color: #E75C6B;
    --color_button: #F38A95;
    --background-color: #F9F2F2;
    --button: #F38A95;
    --button_hover: #81C6E8;
}

.main-3 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: auto;
}

.title {
    padding: 10px;
}

.line {
    background-color: var(--primary_color);
    height: 1px;
    margin: 5px 0 5px 0;
}

.name {
    font-weight: bold;
    color: black;
}

.form__row {
    padding: 10px;
}

.form__row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.form__row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.form__row3 {
    display: grid;
    grid-template-columns: 1fr;
}

input, select {
    border: 1px solid var(--hover);
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    height: 25px;
    vertical-align: middle;
    outline: none;
    
}

input:focus, select:focus {
    border: 1px solid var(--primary_color);
}

#fname {
    margin-right: 25px;
}

#phone {
    margin-left: 25px;
}

.detail {
    height: 50px;
}

#row2 {
    display: flex;
 }
 .city {
     height: auto;

 }
 
 .district {
     height: auto;

 }
 
 .wards {
     height: auto;

 }
#default {
    accent-color: var(--primary_color)
}
.default {
    margin-left: 30px;
}
.input {
    background-color: var(--primary_color);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    vertical-align: middle;
    margin: 15px;
    font-size: 22px;

}

.input:hover {
    background-color: var(--button_hover);
    color: black;
}
.remove-all {
    width: 100px;
    margin-left: 20px;
}
.button {
    display: flex;
    justify-content: right;
}

.button_left {
    flex:1;
}
.button_right {
    flex:1;
    text-align: right;
    margin-right: 10px;
}

.button a {
    text-decoration: none;
}