@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 2500px;
    }}

@media (min-width: 740px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1800px;
}}



@media (max-width: 1023px) and (min-width: 740px) {
    
    .header{
        font-size: 0.8rem;
    }
    .story{
        display: none !important;
    }
    .header-top .btn-search .search{
        width: 320px;
    }
    .nav >li > a{
        margin: 0 30px;
    }
    .hot-products .product{
        font-size: 0.8rem;
        padding: 0;
    }
    section{
        
        width: 100%;
    }
    .promotion-product .product{

    }
    .comments{
        width: 50%;
    }
   
    .comments.comments-right{
        font-size: 0.8rem;
    }
    .swiper {
        width: 90%;
        height: 90%;
        /* margin: 0; */
      }
    
    .swiper-slide{
        width: 100px;
    }
    .footer-top__right input{
        width: 200px;
    }
   
    .product.final{
        display: none;
    }
    .swiper-button-prev{
        left: -2px !important;
    }
    .swiper-button-next{
        right: -2px !important;
    }



    #products .product{
        background-color: #f0d9d8;
        text-align: center;
        border-radius: 10px;
        margin: 30px;
        display: inline-block;
        padding: 5px;
        height: 310px;
        width: 210px;  
    }
    #products .product > *{
        padding: 5px;
    }
    #products .product p{
        margin-bottom: 0;
    }
    #products .product img{
        width: 180px;
        padding: 20px;
        border-radius: 40px;
    }
    #products .product .img-product{
        position: relative;
    }
    #products .product .name{
        font-weight: bold;
        text-transform:uppercase;
        font-size: 15px;
    }
    #products .product .cart-love{
        background-color: #f38a95;
        width: 40%;
        position: absolute;
        left: 30%;
        bottom:0;
        border-radius: 10px;
        font-size: 25px;
    }
    #products .product .star{
        color: yellow;
        font-size: 15px;
    }
    .vote{
        text-align: right;
        color: rgb(143, 143, 133);
        font-weight: 500;
        font-size: 15px;
    }
    .product .price{
        font-size: 15px;
    }

    .list-product .title{
        font-size: 25px;
    }
    .list-product ul{
        font-size: 17px;
    }
    .footer-top .ti-email{ 
        font-size: 50px;
    }
    .footer-top__left .content .title{
        font-weight: bold;
        font-size: 17px;
    }
    .footer-top__left .content .para{
        font-size: 17px;
    }
    .footer-bottom{
        font-size: 17px;
    }
    .footer-bottom h5{
        font-size: 20px;
    }
    .payment-method{
        width: 40px;
        height: 35px;
    }
}
/*mobile*/
@media (max-width: 740px) {
   
    .header{
        font-size: 14px;
    }
    .header-bottom{
        display: none;
    }
    .header-top {
        display: none;
    }
}